<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="layout/main_template">

<div layout:fragment="main_section" class="container my-4">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-sm-3">
                    <img th:src="@{'/profile_photo/'+${user_details.avaHash}}" class="img-fluid w-100" alt="Responsive image">
                </div>
                <div class="col-sm-3">
                    <h6 th:text="${user_details.fullName}"></h6>
                    <p th:text="${user_details.email}"></p>
                </div>
            </div>

            <form th:action="@{'/save_roles'}" method="post">

            </form>

        </div>
    </div>


</div>
